/* my custom css */

.bng-navbar {
    background: var(--green-300);
    color: white;
}

.home-option {
    background-color: white;
    width: 300px;
    border-radius: 10px;
}

.home-option:hover {
    background-color: rgb(221, 165, 213);
}

.unlink,
.unlink:hover {
    color: black;
    text-decoration: none;
}

.footer {
    background-color: rgb(17, 14, 19);
    color: white;
}
